<Ui xmlns="http://www.blizzard.com/wow/ui/" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
	
	<Include file="panels\global.xml"/>
	<Include file="panels\visibility.xml"/>
	<Include file="panels\actionBarGlobal.xml"/>
	<Include file="panels\paging.xml"/>
	<Include file="panels\context.xml"/>
	<Include file="panels\profiles.xml"/>
	<Include file="panels\scripts.xml"/>
	
	<Script file="menu.lua"/>
	
	<CheckButton name="BOptionsTabButton" virtual="true">
		<Size x="52" y="18"/>

		<NormalFont font="GameFontNormalSmall" justifyH="RIGHT"/>
		<HighlightFont font="GameFontHighlightSmall" justifyH="RIGHT"/>
	</CheckButton>
	
	
	<Frame name="BOptionsTabbedMenu" virtual="true">
		<Size x="80" y="160"/>
		
		<Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\Tooltips\UI-Tooltip-Border">
			<BackgroundInsets>
				<AbsInset left="4" right="4" top="4" bottom="4"/>
			</BackgroundInsets>
			<TileSize>
				<AbsValue val="16"/>
			</TileSize>
			<EdgeSize>
				<AbsValue val="16"/>
			</EdgeSize>
		</Backdrop>
		
		<Frames>
			<CheckButton name="$parentGlobal" inherits="BOptionsTabButton" text="Global">
				<Anchors>
					<Anchor point="TOPRIGHT">
						<Offset x="-8" y="-4"/>
					</Anchor>
				</Anchors>
				
				<Scripts>
					<OnClick>
						BOptions_SwitchTab("Global");
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentVisibility" inherits="BOptionsTabButton" text="Visibility">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentGlobal" relativePoint="BOTTOM">
						<Offset x="0" y="-4"/>
					</Anchor>
				</Anchors>
				
				<Scripts>
					<OnClick>
						BOptions_SwitchTab("Visibility");
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentActionBar" inherits="BOptionsTabButton" text="Action Bar">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentVisibility" relativePoint="BOTTOM">
						<Offset x="0" y="-4"/>
					</Anchor>
				</Anchors>
				
				<Scripts>
					<OnClick>
						BOptions_SwitchTab("ActionBar");
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentPaging" inherits="BOptionsTabButton" text="Paging">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentActionBar" relativePoint="BOTTOM">
						<Offset x="0" y="-4"/>
					</Anchor>
				</Anchors>
				
				<Scripts>
					<OnClick>
						BOptions_SwitchTab("Paging");
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentContext" inherits="BOptionsTabButton" text="Context">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentPaging" relativePoint="BOTTOM">
						<Offset x="0" y="-4"/>
					</Anchor>
				</Anchors>
				
				<Scripts>
					<OnClick>
						BOptions_SwitchTab("Context");
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentProfiles" inherits="BOptionsTabButton" text="Profiles">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentContext" relativePoint="BOTTOM">
						<Offset x="0" y="-4"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BOptions_SwitchTab("Profiles");
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentScripts" inherits="BOptionsTabButton" text="Scripts">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentProfiles" relativePoint="BOTTOM">
						<Offset x="0" y="-4"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BOptions_SwitchTab("Scripts");
					</OnClick>
				</Scripts>
			</CheckButton>
		</Frames>
	</Frame>
	
	
	<!-- Actual Options Frame -->
	<Frame name="BOptions" clampedToScreen="true" enableMouse="true" movable="true" topLevel="true" frameStrata="DIALOG" parent="UIParent">
		<Size x="310" y="300"/>
		
		<Anchors>
			<Anchor point="LEFT"/>
		</Anchors>
		
		<Frames>
			<Frame name="$parentMenu" inherits="BOptionsTabbedMenu">
				<Anchors>
					<Anchor point="TOPLEFT">
						<Offset x="0" y="-24"/>
					</Anchor>
				</Anchors>
			</Frame>
			
			<Button name="$parentClose" inherits="UIPanelCloseButton">
				<Anchors>
					<Anchor point="TOPRIGHT"/>
				</Anchors>
			</Button>
			
			
			<Frame name="$parentPanel">
				<Layers>
					<Layer level="ARTWORK">
						<FontString name="$parentTitle" font="GameFontHighlightLarge" text="Bongos Options">
							<Anchors>
								<Anchor point="TOP">
									<Offset x="0" y="-6"/>
								</Anchor>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				
				<Backdrop name="$parentBackground" bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\Tooltips\UI-Tooltip-Border">
					<BackgroundInsets>
						<AbsInset left="4" right="4" top="4" bottom="4"/>
					</BackgroundInsets>
					<TileSize>
						<AbsValue val="16"/>
					</TileSize>
					<EdgeSize>
						<AbsValue val="16"/>
					</EdgeSize>
				</Backdrop>
				
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentMenu" relativePoint="TOPRIGHT">
						<Offset x="-6" y="24"/>
					</Anchor>
					<Anchor point="BOTTOMRIGHT"/>
				</Anchors>
				
				<Frames>
					<Frame name="$parentGlobal" inherits="BongosOptionsGlobal"/>
					<Frame name="$parentVisibility" inherits="BongosOptionsVisibility"/>
					<Frame name="$parentActionBar" inherits="BongosOptionsActionBar"/>
					<Frame name="$parentPaging" inherits="BongosOptionsPaging"/>
					<Frame name="$parentContext" inherits="BongosOptionsContext"/>
					<Frame name="$parentProfiles" inherits="BongosOptionsProfiles"/>
					<Frame name="$parentScripts" inherits="BongosOptionsScripts"/>
				</Frames>
			</Frame>
		</Frames>
		
		<Scripts>
			<OnLoad>
				BOptions_OnLoad();
			</OnLoad>
			<OnShow>
				BOptions_OnShow();
			</OnShow>
			<OnMouseDown>
				this:StartMoving();
			</OnMouseDown>
			<OnMouseUp>
				this:StopMovingOrSizing();
			</OnMouseUp>
		</Scripts>
	</Frame>
</Ui>