<Ui xmlns="http://www.blizzard.com/wow/ui/" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
	
	<Script file="context.lua"/>
	
	<CheckButton name="BOptionsContextButton" inherits="BongosCheckButtonTemplate" virtual="true">
		<Scripts>
			<OnClick>
				BActionBar.SetContextPaging(tonumber(this:GetText()), this:GetChecked());
			</OnClick>
			<OnMouseWheel>
				BOptionsContext_OnMousewheel(BOptionsPanelContextScrollFrame, arg1);
			</OnMouseWheel>
		</Scripts>
	</CheckButton>
	
	<Frame name="BongosOptionsContext" inherits="BongosOptionsPanel" virtual="true">
		<Frames>	
			<ScrollFrame name="$parentScrollFrame" inherits="FauxScrollFrameTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPRIGHT">
						<Offset x="-48" y="-32"/>
					</Anchor>
					<Anchor point="BOTTOMRIGHT">
						<Offset x="-24" y="6"/>
					</Anchor>
				</Anchors>
				<Scripts>
					<OnVerticalScroll>
						FauxScrollFrame_OnVerticalScroll(18, BOptionsContextScrollBar_Update);
					</OnVerticalScroll>
				</Scripts>
			</ScrollFrame>
		</Frames>
		
		<Scripts>
			<OnLoad>
				BOptionsContext_OnLoad();
			</OnLoad>
			<OnShow>
				BOptionsContextScrollBar_Update();
			</OnShow>
			<OnMouseWheel>
				BOptionsContext_OnMousewheel(BOptionsPanelContextScrollFrame, arg1);
			</OnMouseWheel>
		</Scripts>
	</Frame>
</Ui>