<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinAceUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinAceUpdater.Properties.Settings>
            <setting name="AceFilesPath" serializeAs="String">
                <value>http://www.wowace.com/files/</value>
            </setting>
            <setting name="ConfirmSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteBeforeExtracting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipVersionCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WowInstallDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayBackupWarningAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipSvnWorkingCopies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRecycleBin" serializeAs="String">
                <value>True</value>
            </setting>
        </WinAceUpdater.Properties.Settings>
    </userSettings>
</configuration>