
<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   xsi:schemaLocation="http://www.blizzard.com/wow/ui/"> 
	<Script file="menu.lua"/>
	
	<CheckButton name="DYCheckTemplate" hidden="false" virtual="true">
		<Size>
			<AbsDimension x="32" y="32"/>
		</Size>
		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentText" inherits="GameFontNormalSmall" text="">
					<Anchors>
						<Anchor point="LEFT" relativePoint="RIGHT">
							<Offset>
								<AbsDimension x="0" y="0"/>
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<NormalTexture file="Interface\Buttons\UI-CheckBox-Up"/>
		<PushedTexture file="Interface\Buttons\UI-CheckBox-Down"/>
		<HighlightTexture file="Interface\Buttons\UI-CheckBox-Highlight" alphaMode="ADD"/>
		<CheckedTexture file="Interface\Buttons\UI-CheckBox-Check"/>
		<DisabledCheckedTexture file="Interface\Buttons\UI-CheckBox-Check-Disabled"/>
		<Scripts>
			<OnShow>
				DYMenu_Show();
			</OnShow>
			<OnClick>
				DYMenu_Click();
			</OnClick>
			<OnEnter>
				DYMenu_Enter();
			</OnEnter>
			<OnLeave>
				GameTooltip:Hide();
			</OnLeave>
		</Scripts>
	</CheckButton>	
	
	<Frame name="DividerTemplate" hidden="false" virtual="true">
		<Size>
			<AbsDimension x="200" y="19" />
		</Size>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture name="$parentLeft" file="Interface\HelpFrame\HelpFrameDivider">
					<Size>
						<AbsDimension x="134" y="20" />
					</Size>
					<Anchors>
						<Anchor point="TOPLEFT" />
					</Anchors>
					<TexCoords left="0" right="1.0" top="0" bottom="0.3125" />
				</Texture>
				<Texture name="$parentMiddle" file="Interface\HelpFrame\HelpFrameDivider">
					<Size>
						<AbsDimension x="55" y="20" />
					</Size>
					<Anchors>
						<Anchor point="LEFT" relativeTo="$parentLeft" relativePoint="RIGHT">
							<Offset>
								<AbsDimension x="0" y="1" />
							</Offset>
						</Anchor>
					</Anchors>
					<TexCoords left="0" right="1.0" top="0.3125" bottom="0.625" />
				</Texture>
				<Texture name="$parentRight" file="Interface\HelpFrame\HelpFrameDivider">
					<Size>
						<AbsDimension x="101" y="20" />
					</Size>
					<Anchors>
						<Anchor point="LEFT" relativeTo="$parentMiddle" relativePoint="RIGHT" />
					</Anchors>
					<TexCoords left="0" right="0.25390625" top="0.625" bottom="0.9375" />
				</Texture>
			</Layer>
		</Layers>
	</Frame>
	
	<Frame name="DYmenu" frameStrata="DIALOG" parent="UIParent" hidden="true" toplevel="true" movable="true" enableMouse="true">
		<Size>
			<AbsDimension x="300" y="360" />
		</Size>
		<Anchors>
			<Anchor point="CENTER" />
		</Anchors>
		<Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border"
			tile="true">
			<BackgroundInsets>
				<AbsInset left="11" right="12" top="12" bottom="11" />	
				<Size>
					<AbsDimension x="128" y="17" />
				</Size>
			</BackgroundInsets>
			<TileSize>
				<AbsValue val="32" />
			</TileSize>
			<EdgeSize>
				<AbsValue val="32" />
			</EdgeSize>
		</Backdrop>
		
		<Layers>
			<Layer level="ARTWORK">
				<Texture name="DYFrameTitle" file="Interface\DialogFrame\UI-DialogBox-Header">
					<Size>
						<AbsDimension x="276" y="64" />
					</Size>
					<Anchors>
						<Anchor point="TOP">
							<Offset>
								<AbsDimension x="0" y="12" />
							</Offset>
						</Anchor>
					</Anchors>
				</Texture>
				<FontString name="DYFrameTitleText" inherits="GameFontNormal" text="Defend Yourself!">
					<Anchors>
						<Anchor point="TOP" relativeTo="DYmenu">
							<Offset>
								<AbsDimension x="0" y="-3" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
		
		<CheckButton name="DYToggle" inherits="DYCheckTemplate" id="1"><Anchors><Anchor point="LEFT" relativeTo="DYFrameTitle" relativePoint="LEFT"><Offset><AbsDimension x="30" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="DYYellow" inherits="DYCheckTemplate" id="2"><Anchors><Anchor point="LEFT" relativeTo="DYToggle" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="DYFaction" inherits="DYCheckTemplate" id="3"><Anchors><Anchor point="LEFT" relativeTo="DYYellow" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="DYDebuff" inherits="DYCheckTemplate" id="4"><Anchors><Anchor point="LEFT" relativeTo="DYFaction" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="DYBloodlust" inherits="DYCheckTemplate" id="5"><Anchors><Anchor point="LEFT" relativeTo="DYDebuff" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="DYAssist" inherits="DYCheckTemplate" id="6"><Anchors><Anchor point="LEFT" relativeTo="DYBloodlust" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
			
			
			<Button name="DYClose" inherits="GameMenuButtonTemplate" text="Close">
				<Anchors>
					<Anchor point="CENTER" relativePoint="BOTTOM" relativeTo="DYmenu">
						<Offset>
							<AbsDimension x="0" y="30" />
						</Offset>
					</Anchor>
				</Anchors>
				<Scripts>
					<OnClick>
						DYmenu:Hide();
					</OnClick>
				</Scripts>
			</Button>
		</Frames>
	</Frame>
</Ui>