<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
	
	<Script file="Menu.lua"/>
	
	<!-- a player name checkbox -->
	<CheckButton name="BagnonForeverMenuNameBox" virtual="true">
		<Size x="140" y="24"/>
		
		<ButtonText>
			<Anchors>
				<Anchor point="LEFT">
					<Offset x="24" y="0"/>
				</Anchor>
			</Anchors>
		</ButtonText>

		<NormalFont font = "GameFontNormalLarge"/>
		<HighlightFont font="GameFontHighlightLarge"/>
		
		<CheckedTexture file="Interface\Buttons\UI-CheckBox-Check">
			<Anchors>
				<Anchor point="TOPLEFT"/>
				<Anchor point="BOTTOMRIGHT" relativePoint="BOTTOMLEFT">
					<Offset x="24" y="0"/>
				</Anchor>
			</Anchors>
		</CheckedTexture>

		<Scripts>
			<OnClick>
				BagnonForever_ChangeCharacter(this:GetParent().frame, this:GetText());
				this:GetParent():Hide();
			</OnClick>
		</Scripts>
	</CheckButton>
	
	<!-- The double click menu -->
	<Button name="BagnonForeverMenu" clampedToScreen="true" enableMouse="true" toplevel="true" parent="UIParent" frameStrata="DIALOG" hidden="true">
		<Size x="160" y="236"/>
		
		<Backdrop bgFile="Interface\CharacterFrame\UI-Party-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
			<BackgroundInsets>
				<AbsInset left="11" right="12" top="12" bottom="11"/>
			</BackgroundInsets>
			<TileSize>
				<AbsValue val="32"/>
			</TileSize>
			<EdgeSize>
				<AbsValue val="32"/>
			</EdgeSize>
		</Backdrop>

		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentText" font="GameFontHighlightLarge" text="Characters">
					<Anchors>
						<Anchor point="TOP">
							<Offset x="0" y="-10"/>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		
		<Scripts>
			<OnHide>
				this:SetParent(UIParent);
			</OnHide>
		</Scripts>
	</Button>
</Ui>