<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
	
	<Script file="Menu.lua"/>
	
	<!-- General Slider -->
	<CheckButton name="BagnonOptionsAtEventButton" virtual="true">
		<Size x="32" y="32"/>
		
		<NormalTexture file="Interface\Buttons\UI-CheckBox-Up"/>
		<PushedTexture file="Interface\Buttons\UI-CheckBox-Down"/>
		<HighlightTexture file="Interface\Buttons\UI-CheckBox-Highlight" alphaMode="ADD"/>
		<CheckedTexture file="Interface\Buttons\UI-CheckBox-Check"/>
		<DisabledCheckedTexture file="Interface\Buttons\UI-CheckBox-Check-Disabled"/>
	</CheckButton>
	
	<CheckButton name="BagnonOptionsCheckButton" virtual="true">
		<Size x="32" y="32"/>
		
		<Anchors>
			<Anchor point="TOPLEFT" relativePoint="TOPLEFT">
				<Offset x="18" y="-36"/>
			</Anchor>
		</Anchors>
		
		<ButtonText name="$parentText" inherits="GameFontNormal">
			<Anchors>
				<Anchor point="LEFT" relativePoint="RIGHT">
					<Offset x="-2" y="0"/>
				</Anchor>
			</Anchors>
		</ButtonText>
		<NormalFont font="GameFontNormal"/>
	
		<NormalTexture file="Interface\Buttons\UI-CheckBox-Up"/>
		<PushedTexture file="Interface\Buttons\UI-CheckBox-Down"/>
		<HighlightTexture file="Interface\Buttons\UI-CheckBox-Highlight" alphaMode="ADD"/>
		<CheckedTexture file="Interface\Buttons\UI-CheckBox-Check"/>
	</CheckButton>
	
	<!-- Bagnon Options Menu -->
	<Frame name="BagnonOptions" movable="true" clampedToScreen="true" enableMouse="true" frameStrata="DIALOG" hidden="true" parent="UIParent">
		<Size x="254" y="362"/>
		
		<Anchors>
			<Anchor point="LEFT"/>
		</Anchors>
		
		<Backdrop bgFile="Interface\CharacterFrame\UI-Party-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
			<BackgroundInsets>
				<AbsInset left="11" right="12" top="12" bottom="11"/>
			</BackgroundInsets>
			<TileSize>
				<AbsValue val="32"/>
			</TileSize>
			<EdgeSize>
				<AbsValue val="32"/>
			</EdgeSize>
		</Backdrop>

		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentTitle" font="GameFontHighlightLarge" text="BAGNON_MAINOPTIONS_TITLE">
					<Anchors>
						<Anchor point="TOP">
							<Offset x="0" y="-16"/>
						</Anchor>
					</Anchors>
				</FontString>
				
				<FontString name="$parentShowWhen" font="GameFontNormal" text="BAGNON_MAINOPTIONS_SHOW">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPLEFT">
							<Offset x="16" y="-118"/>
						</Anchor>
					</Anchors>
				</FontString>
				
				<FontString name="$parentBanknonDiv" font="GameFontNormal" text="Banknon">
					<Anchors>
						<Anchor point="TOPRIGHT" relativeTo="$parent" relativePoint="TOPRIGHT">
							<Offset x="-16" y="-118"/>
						</Anchor>
					</Anchors>
				</FontString>
				
				<FontString name="$parentBagnonDiv" font="GameFontNormal" text="Bagnon">
					<Anchors>
						<Anchor point="RIGHT" relativeTo="$parentBanknonDiv" relativePoint="LEFT">
							<Offset x="-8" y="0"/>
						</Anchor>
					</Anchors>
				</FontString>
				
				<FontString name="$parentAtBank" font="GameFontNormal" text="BAGNON_MAINOPTIONS_SHOW_BANK">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentShowWhen" relativePoint="BOTTOMLEFT">
							<Offset x="0" y="-22"/>
						</Anchor>
					</Anchors>
				</FontString>
				
				<FontString name="$parentAtVendor" font="GameFontNormal" text="BAGNON_MAINOPTIONS_SHOW_VENDOR">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentAtBank" relativePoint="BOTTOMLEFT">
							<Offset x="0" y="-22"/>
						</Anchor>
					</Anchors>
				</FontString>
				
				<FontString name="$parentAtAH" font="GameFontNormal" text="BAGNON_MAINOPTIONS_SHOW_AH">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentAtVendor" relativePoint="BOTTOMLEFT">
							<Offset x="0" y="-22"/>
						</Anchor>
					</Anchors>
				</FontString>
				
				<FontString name="$parentAtMail" font="GameFontNormal" text="BAGNON_MAINOPTIONS_SHOW_MAILBOX">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentAtAH" relativePoint="BOTTOMLEFT">
							<Offset x="0" y="-22"/>
						</Anchor>
					</Anchors>
				</FontString>
				
				<FontString name="$parentTrading" font="GameFontNormal" text="BAGNON_MAINOPTIONS_SHOW_TRADING">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentAtMail" relativePoint="BOTTOMLEFT">
							<Offset x="0" y="-22"/>
						</Anchor>
					</Anchors>
				</FontString>
				
				<FontString name="$parentCrafting" font="GameFontNormal" text="BAGNON_MAINOPTIONS_SHOW_CRAFTING">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentTrading" relativePoint="BOTTOMLEFT">
							<Offset x="0" y="-22"/>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		
		<Frames>
			<Button name="$parentCloseButton" inherits="UIPanelCloseButton">
				<Anchors>
					<Anchor point="TOPRIGHT" relativePoint="TOPRIGHT">
						<Offset x="-8" y="-8"/>
					</Anchor>
				</Anchors>
			</Button>
			
				<!-- General Options Checkboxes -->
			<CheckButton name="$parentTooltips" inherits="BagnonOptionsCheckButton" text="BAGNON_MAINOPTIONS_SHOW_TOOLTIPS">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPLEFT">
						<Offset x="14" y="-42"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowTooltips(this:GetChecked());
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentQuality" inherits="BagnonOptionsCheckButton" text="BAGNON_MAINOPTIONS_SHOW_BORDERS">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentTooltips" relativePoint="BOTTOMLEFT">
						<Offset x="0" y="0"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowQualityBorders(this:GetChecked());
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<!-- 
				Show at Event Checkboxes 
			-->
			<!-- bagnon -->
			<CheckButton name="$parentShowBagnon1" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentBagnonDiv" relativePoint="BOTTOM">
						<Offset x="0" y="-12"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtBank(this:GetChecked());
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBagnon2" inherits="BagnonOptionsAtEventButton" checked="true">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBagnon1" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnLoad>
						this:Disable();
					</OnLoad>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBagnon3" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBagnon2" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtAH(this:GetChecked());
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBagnon4" inherits="BagnonOptionsAtEventButton" checked="true">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBagnon3" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnLoad>
						this:Disable();
					</OnLoad>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBagnon5" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBagnon4" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtTrade(this:GetChecked());
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBagnon6" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBagnon5" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtCrafting(this:GetChecked());
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<!-- banknon -->
			<CheckButton name="$parentShowBanknon1" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentBanknonDiv" relativePoint="BOTTOM">
						<Offset x="0" y="-12"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtBank(this:GetChecked(), 1);
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBanknon2" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBanknon1" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtVendor(this:GetChecked(), 1);
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBanknon3" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBanknon2" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtAH(this:GetChecked(), 1);
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBanknon4" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBanknon3" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtMail(this:GetChecked(), 1);
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBanknon5" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBanknon4" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtTrade(this:GetChecked(), 1);
					</OnClick>
				</Scripts>
			</CheckButton>
			
			<CheckButton name="$parentShowBanknon6" inherits="BagnonOptionsAtEventButton">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentShowBanknon5" relativePoint="BOTTOM">
						<Offset x="0" y="-2"/>
					</Anchor>
				</Anchors>

				<Scripts>
					<OnClick>
						BagnonOptions_ShowAtCrafting(this:GetChecked(), 1);
					</OnClick>
				</Scripts>
			</CheckButton>
		</Frames>
		
		<Scripts>
			<OnShow>
				BagnonOptions_OnShow();
			</OnShow>
			<OnMouseDown>
				this:StartMoving();
			</OnMouseDown>
			<OnMouseUp>
				this:StopMovingOrSizing();
			</OnMouseUp>
		</Scripts>
	</Frame>
</Ui>