
<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   xsi:schemaLocation="http://www.blizzard.com/wow/ui/"> 
	<Script file="menu.lua"/>
	
	<CheckButton name="MoogCheckTemplate" hidden="false" virtual="true">
		<Size>
			<AbsDimension x="32" y="32"/>
		</Size>
		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentText" inherits="GameFontNormalSmall" text="">
					<Anchors>
						<Anchor point="LEFT" relativePoint="RIGHT">
							<Offset>
								<AbsDimension x="0" y="0"/>
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<NormalTexture file="Interface\Buttons\UI-CheckBox-Up"/>
		<PushedTexture file="Interface\Buttons\UI-CheckBox-Down"/>
		<HighlightTexture file="Interface\Buttons\UI-CheckBox-Highlight" alphaMode="ADD"/>
		<CheckedTexture file="Interface\Buttons\UI-CheckBox-Check"/>
		<DisabledCheckedTexture file="Interface\Buttons\UI-CheckBox-Check-Disabled"/>
		<Scripts>
			<OnShow>
				MoogMenu_Show();
			</OnShow>
			<OnClick>
				MoogMenu_Click();
			</OnClick>
			<OnEnter>
				MoogMenu_Enter();
			</OnEnter>
			<OnLeave>
				GameTooltip:Hide();
			</OnLeave>
		</Scripts>
	</CheckButton>	

	<Slider name="MoogSliderTemplate" inherits="OptionsSliderTemplate" virtual="true">
		<Size>
			<AbsDimension x="180" y="14"/>
		</Size>
		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentText" inherits="GameFontNormalSmall" text="">
					<Anchors>
						<Anchor point="BOTTOM" relativePoint="TOP">
							<Offset>
								<AbsDimension x="0" y="0"/>
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Scripts>
			<OnShow>
				MoogSliderShow();
			</OnShow>
			<OnEnter>
				MoogSliderOver();
			</OnEnter>
			<OnValueChanged>
				MoogSliderChanged();
			</OnValueChanged>
			<OnLeave>
				GameTooltip:Hide();
			</OnLeave>
		</Scripts>
	</Slider >
	
	<Frame name="DividerTemplate" hidden="false" virtual="true">
		<Size>
			<AbsDimension x="200" y="19" />
		</Size>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture name="$parentLeft" file="Interface\HelpFrame\HelpFrameDivider">
					<Size>
						<AbsDimension x="134" y="20" />
					</Size>
					<Anchors>
						<Anchor point="TOPLEFT" />
					</Anchors>
					<TexCoords left="0" right="1.0" top="0" bottom="0.3125" />
				</Texture>
				<Texture name="$parentMiddle" file="Interface\HelpFrame\HelpFrameDivider">
					<Size>
						<AbsDimension x="55" y="20" />
					</Size>
					<Anchors>
						<Anchor point="LEFT" relativeTo="$parentLeft" relativePoint="RIGHT">
							<Offset>
								<AbsDimension x="0" y="1" />
							</Offset>
						</Anchor>
					</Anchors>
					<TexCoords left="0" right="1.0" top="0.3125" bottom="0.625" />
				</Texture>
				<Texture name="$parentRight" file="Interface\HelpFrame\HelpFrameDivider">
					<Size>
						<AbsDimension x="101" y="20" />
					</Size>
					<Anchors>
						<Anchor point="LEFT" relativeTo="$parentMiddle" relativePoint="RIGHT" />
					</Anchors>
					<TexCoords left="0" right="0.25390625" top="0.625" bottom="0.9375" />
				</Texture>
			</Layer>
		</Layers>
	</Frame>
	
	<Frame name="Moogmenu" frameStrata="DIALOG" parent="UIParent" hidden="true" toplevel="true" movable="true" enableMouse="true">
		<Size>
			<AbsDimension x="250" y="430" />
		</Size>
		<Anchors>
			<Anchor point="CENTER" />
		</Anchors>
		<Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border"
			tile="true">
			<BackgroundInsets>
				<AbsInset left="11" right="12" top="12" bottom="11" />	
				<Size>
					<AbsDimension x="128" y="17" />
				</Size>
			</BackgroundInsets>
			<TileSize>
				<AbsValue val="32" />
			</TileSize>
			<EdgeSize>
				<AbsValue val="32" />
			</EdgeSize>
		</Backdrop>
		
		<Layers>
			<Layer level="ARTWORK">
				<Texture name="MoogFrameTitle" file="Interface\DialogFrame\UI-DialogBox-Header">
					<Size>
						<AbsDimension x="276" y="64" />
					</Size>
					<Anchors>
						<Anchor point="TOP">
							<Offset>
								<AbsDimension x="0" y="12" />
							</Offset>
						</Anchor>
					</Anchors>
				</Texture>
				<FontString name="MoogFrameTitleText" inherits="GameFontNormal" text="Moog HUD">
					<Anchors>
						<Anchor point="TOP" relativeTo="Moogmenu">
							<Offset>
								<AbsDimension x="0" y="-3" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<CheckButton name="MoogToggleSelf" inherits="MoogCheckTemplate" id="1">
				<Anchors>
					<Anchor point="LEFT" relativeTo="MoogFrameTitle" relativePoint="LEFT">
						<Offset>
							<AbsDimension x="60" y="-30" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<CheckButton name="MoogToggleTarget" inherits="MoogCheckTemplate" id="4">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="MoogToggleSelf" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="2" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<CheckButton name="MoogMobTargetPC" inherits="MoogCheckTemplate" id="5">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="MoogToggleTarget" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="2" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<CheckButton name="MoogPlayerTargetPC" inherits="MoogCheckTemplate" id="6">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="MoogMobTargetPC" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="2" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<CheckButton name="MoogShowMobClass" inherits="MoogCheckTemplate" id="7">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="MoogPlayerTargetPC" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="2" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<CheckButton name="MoogShowIcons" inherits="MoogCheckTemplate" id="8">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="MoogShowMobClass" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="2" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<CheckButton name="MoogBlinkLongCast" inherits="MoogCheckTemplate" id="9">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="MoogShowIcons" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="2" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<CheckButton name="MoogBlinkInstaCast" inherits="MoogCheckTemplate" id="10">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="MoogBlinkLongCast" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="2" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<Slider name="MoogSeperation" inherits="MoogSliderTemplate" id="2">
				<Anchors>
					<Anchor point="TOP" relativeTo="MoogFrameTitle" relativePoint="BOTTOM">
						<Offset>
							<AbsDimension x="0" y="-240" />
						</Offset>
					</Anchor>
				</Anchors>
			</Slider>

			<CheckButton name="MoogSeperateNumbers" inherits="MoogCheckTemplate" id="11">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="MoogBlinkInstaCast" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="0" y="-38" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<Slider name="MoogVertPos" inherits="MoogSliderTemplate" id="3">
				<Anchors>
					<Anchor point="TOP" relativeTo="MoogSeperation" relativePoint="BOTTOM">
						<Offset>
							<AbsDimension x="0" y="-50" />
						</Offset>
					</Anchor>
				</Anchors>
			</Slider>
			
			<Button name="MoogClose" inherits="GameMenuButtonTemplate" text="Close">
				<Anchors>
					<Anchor point="CENTER" relativePoint="BOTTOM" relativeTo="Moogmenu">
						<Offset>
							<AbsDimension x="0" y="30" />
						</Offset>
					</Anchor>
				</Anchors>
				<Scripts>
					<OnClick>
						Moogmenu:Hide();
					</OnClick>
				</Scripts>
			</Button>
		</Frames>
		<Scripts>
			<OnShow>
				MoogFrameTitleText:SetText("Moog HUD v"..MOOGHUD_VERSION);
			</OnShow>
						<OnMouseUp>
 							if ( Moogmenu.isMoving ) then
 								Moogmenu:StopMovingOrSizing();
								Moogmenu.isMoving = false;
							end
						</OnMouseUp>
						<OnMouseDown>
							if ( arg1 == "LeftButton" ) then
								Moogmenu:StartMoving();
								Moogmenu.isMoving = true;
							end
						</OnMouseDown>
						<OnHide>
							if ( Moogmenu.isMoving ) then
								Moogmenu:StopMovingOrSizing();
								Moogmenu.isMoving = false;
							end
						</OnHide>
		</Scripts>
	</Frame>
</Ui>